<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Email" formControlName="email"/>
  <p *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">Should be valid email</p>
  <input type="text" placeholder="Password" formControlName="password"/>
  <p *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">Password must be strong</p>
  <input type="text" placeholder="Phone number" formControlName="phoneNumber"/>
  <p *ngIf="signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched">Phone number must contains 9 numbers</p>
  <div class="radio-wrapper">
    <label
      >Student
      <input type="radio" value="student" formControlName="position"/>
    </label>
    <label
      >Teacher
      <input type="radio" value="teacher" formControlName="position"/>
    </label>
  </div>
  <div class="buttons-wrapper">
    <button [disabled]="!signUpForm.get('email')?.value && !signUpForm.get('password')?.value && !signUpForm.get('phoneNumber')?.value && signUpForm.get('position')?.value === 'student'">Clear</button>
    <button type="submit" [disabled]="signUpForm.invalid">Submit</button>
  </div>
</form>
