<form>
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Phone number">
    <div class="radio-wrapper">
        <label>Student
            <input type="radio" name="student" id="student">
        </label>
        <label>Teacher
            <input type="radio" name="student" id="student">
        </label>
    </div>
    <div class="buttons-wrapper">
        <button>Clear</button>
        <button type="submit">Submit</button>
    </div>
</form>